<% title @user.name %>

<div class="panel">
  <h3>Spiele</h3>
  <div class="panel_contents">
    <table>
      <thead>
        <tr>
          <th>Datum</th>
          <th>Liga</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:sidebar) do %>
<div class="panel sidebar_section">
  <h3>Benutzerdetails</h3>
  <div class="panel_contents">
    <%= attribute_table(@user, :name, :nickname, :worm_team_name, :email) %>
  </div>
</div>
<% end %>


<% action_item(link_to 'Benutzer bearbeiten', edit_user_path(@user)) %>
<% breadcrump(link_to 'Benutzer', users_path) %>
